transformers
hydra-core
pytorch-lightning
lightning
nemo_toolkit
einops
sentencepiece
braceexpand
webdataset
h5py
ijson
megatron
megatron.core
sacrebleu
rouge_score
jieba
opencc
pangu
apex
pyramid==1.5